* {
    margin: 0;
    padding: 0;
}

header {
    height: auto;
    width: 100vw;
    background-color: lightblue;
    display: flex;
}

header p {
    padding: 10px 20px;
}

#timer {
    position: absolute;
    right: 0;
}

.container {
    width: 500px;
    height: 300px;
    background-color: lightblue;
    margin: 100px auto;
    position: relative;
}

button {
    padding: 10px 20px;
    bottom: 0;
    text-align: center;
    
}

.hide {
    display: none;
}


#start {
    margin: auto;
    margin: auto;
}